body > header { 
        padding: 50px;
        font-family: 'Raleway', sans-serif; color: white;
            }
#container {
        background-image: url("http://urs2009.net/wp-content/uploads/2011/11/lights-of-city.jpg"); 
        padding: 20px;                
            }
body { 
        font-family: 'Raleway', sans-serif; 
        color: black;
        margin 0;
            }
article {
        margin: 20px;
            }
a {
        color: white;
        text-decoration: none;
}
li {
        float:left;
        list-style-type: none;
        margin-right: 20 px;
}
a:hover {
        color: green;
}
article {
        color: black;
}
img {
        float:left;
        padding-right: 20px;
}
footer {
        background-color: blue;
        padding: 50px;
}
