body {
font-family: Georgia; color: red;
background-color: rgb(240,240,240);}
#container {
background-image: url("http://graphics8.nytimes.com/images/2006/12/10/weekinreview/10liptak.600.jpg");
padding: 10px;}