body {
	font-family: Georgia;
 	font-size: 12pt;
 	color: rgb(96,96,96);
	background-color: rgb(240,240,240);
	border:4px solid rgb(56,56,56);
	padding: 10px;
}
#firstgraf {
	font-size: 16pt;
}
p{
	line-height: 200%;
	}
